<head>
    <style type="text/css">
        label {
            opacity: .8;
        }
    </style>
</head>


<div id="orgModal" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="goBack()">X</button>
    <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body" ng-init="init()">

    <form role="form">
        <div class="container">
            <div style="margin-bottom: 20px" class="form-group">
                <label style="float:left;font-weight: bold;">Username</label>
                <input readonly type="text" class="form-control input-dark" ng-model="loginData.username" name="username" id="username" autocomplete="false" ng-keypress="logins(e)" />
            </div>

            <div ng-if="!showOldPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                <label style="float:left;font-weight: bold;">Old Password</label>
                <input placeholder="" type="password" ng-model="loginData.oldPassword" class="form-control input-dark" name="passwd" id="oldPassword" autocomplete="false" ng-keypress="logins(e)" />
                <span ng-if="loginData.oldPassword"
                      ng-click="toggleShowOldPassword()"
                      class="fas fa-eye form-control-feedback"
                      style="cursor: pointer; pointer-events: all; padding-top: 5px">
                </span>
            </div>
            <div ng-if="showOldPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                <label style="float:left;font-weight: bold;">Old Password</label>
                <input placeholder="" type="text" ng-model="loginData.oldPassword" class="form-control input-dark" name="passwd" id="oldPassword" autocomplete="false" ng-keypress="logins(e)" />
                <span ng-if="loginData.oldPassword"
                      ng-click="toggleShowOldPassword()"
                      class="fas fa-eye-slash form-control-feedback"
                      style="cursor: pointer; pointer-events: all; padding-top: 5px">
                </span>
            </div>


            <div ng-if="!showNewPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                <label style="float:left;font-weight: bold;">New Password</label>
                <input placeholder="" type="password" ng-model="loginData.newPassword" class="form-control input-dark" name="passwd" id="newPassword" autocomplete="false" ng-keypress="logins(e)" />
                <span ng-if="loginData.newPassword"
                      ng-click="toggleShowNewPassword()"
                      class="fas fa-eye form-control-feedback"
                      style="cursor: pointer; pointer-events: all; padding-top: 5px">
                </span>
            </div>
            <div ng-if="showNewPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                <label style="float:left;font-weight: bold;">New Password</label>
                <input placeholder="" type="text" ng-model="loginData.newPassword" class="form-control input-dark" name="passwd" id="newPassword" autocomplete="false" ng-keypress="logins(e)" />
                <span ng-if="loginData.newPassword"
                      ng-click="toggleShowNewPassword()"
                      class="fas fa-eye-slash form-control-feedback"
                      style="cursor: pointer; pointer-events: all; padding-top: 5px">
                </span>
            </div>


            <div ng-if="!showConfirmNewPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                <label style="float:left;font-weight: bold;">Confirm New Password</label>
                <input placeholder="" type="password" ng-model="loginData.newPasswordConfirm" class="form-control input-dark" name="passwd" id="newPasswordConfirm" autocomplete="false" ng-keypress="logins(e)" />
                <span ng-if="loginData.newPasswordConfirm"
                      ng-click="toggleShowConfirmNewPassword()"
                      class="fas fa-eye form-control-feedback"
                      style="cursor: pointer; pointer-events: all; padding-top: 5px">
                </span>
            </div>
            <div ng-if="showConfirmNewPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                <label style="float:left;font-weight: bold;">Confirm New Password</label>
                <input placeholder="" type="text" ng-model="loginData.newPasswordConfirm" class="form-control input-dark" name="passwd" id="newPasswordConfirm" autocomplete="false" ng-keypress="logins(e)" />
                <span ng-if="loginData.newPasswordConfirm"
                      ng-click="toggleShowConfirmNewPassword()"
                      class="fas fa-eye-slash form-control-feedback"
                      style="cursor: pointer; pointer-events: all; padding-top: 5px">
                </span>
            </div>
        </div>
    </form>
</div>

<div class="c-modal-footer">

    <div class="form-group">
        <!--<div class="col-sm-5">
            <button type="button" class="btn btn-primary c-btn-save" ng-disabled="selectedOrg.OrganizationName === ''" id="update_organization" ng-click="saveChanges()">Change Password</button>
        </div>
        <div class="col-sm-5">
            <button type="button" class="btn btn-primary c-btn-back" data-dismiss="modal" ng-click="goBack()" id="cancel_organziation">Cancel</button>
        </div>-->

        <a id="btn-reset" ng-click="reset()" class="btn btn-success">Reset  </a>

        <a id="btn-cancel" ng-click="goBack()" class="btn btn-gray">Cancel</a>

    </div>
</div>

