<!--<div class="modal fade modal-md" id="ExitConfirmModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_heading" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <div class="modal-body">
                <!--<p style="text-align: center; font-size:large; font-weight:bold;color:black"> Are you sure you want to exit without save?</p>-->
                <div class="button-group" style="text-align: center">
                    <div class=" row">
                        <div class="col-sm-4">
                            <button type="button"  class="btn btn-primary c-btn-delete" ng-click="exit()" style="width:90%;">Exit Without Saving</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary c-btn-save"  ng-click="saveChanges()">Save Changes</button>
                        </div>

                        <div class="col-sm-4" >
                            <button type="button"  class="btn btn-primary c-btn-back" data-dismiss="modal" ng-click="goBack()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Modal Body -->
        <!--</div> &lt;!&ndash; Modal Content &ndash;&gt;-->
    <!--</div> &lt;!&ndash; Modal Dialog&ndash;&gt;-->
<!--</div>-->