<div class="modal-fade" id="ListModal" tabindex="-1" role="dialog" aria-labbelledby="modal-heading" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{header-text}}</h4>
            </div>

            <div class="modal-body">
                <div class="gridStyle" ng-grid="grid"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary c-btn-back">Exit</button>
            </div>
        </div>
    </div>

</div>

