<div class="modal-header" style="background-color: #9080bd;">
    <h4>{{ldasset.Tag}} - Log Detail</h4>
</div>
<div class="modal-body">
    <table class="table">
        <tbody>
            <tr ng-hide="isNew">
                <td><span style="font-weight: bold">Name:</span></td>
                <td><span>{{ldasset.Name}}</span></td>
            </tr>
            <tr ng-hide="isNew">
                <td><span style="font-weight: bold">Tag:</span></td>
                <td><span>{{ldasset.Tag}}</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">Description:</span></td>
                <td><span>{{logDetail.Description}}</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">Start Date:</span></td>
                <td><span>{{sd}}</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">End Date:</span></td>
                <td><span>{{ed}}</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">Cost:</span></td>
                <td><span>{{cost}}</span></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">Note:</span></td>
                <td><span>{{logDetail.Note}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer" style="padding: 5px;">
    <button class="btn btn-primary c-btn-back" ng-click="close()">OK</button>
</div>