
<div class="row am-modal-full-cont">
    <div class="col-centered am-modal-col-cont">
        <div class="panel panel-default am-panel-full-cont">
            <div class="panel-heading">
                <h3 class="panel-title" style="font-size:30px;">Asset Management</h3>
                <a href="#/app/wbs" class="exit-button">X</a>
            </div>
            <div class="panel-body am-panel-body">
                <div class="am-panel-body-top">
                    <button type="button" class="btn btn-info btn-sm" style="float:right;" ng-click="newAsset()">+ Asset</button>
                </div>
                <div class="gridStyle am-grid-cont" ng-grid="gridOptions"></div>
            </div>
        </div>
    </div>
</div>

