

<div class="row">
    <div class="col-centered" style="width: 500px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="font-size:30px;">Trend Status</h3>
                <a href="#/app/wbs" class="exit-button">X</a>
            </div>
            <div class="panel-body"  style="height: 310px; overflow: auto">


                <table class="table table-striped table-bordered" style="font-size:20px;" >
                    <thead>
                    <tr>
                        <th style="text-align: center">Status ID</th>
                        <th style="text-align: center">Status Title</th>
                        <th style="text-align: center">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="status in statusCollection" ng-click="setTrendStatus(status)" ng-dblclick="editTrendStatus()"
                            ng-class="{'selected': status.StatusID === statusItem.StatusID}">

                        <td style="text-align: center">{{status.StatusID}}</td>
                        <td style="text-align: center">{{status.StatusDescription}}</td>
                        <td style="text-align: center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="panel-footer" id="right_panel-footer" style="text-align:center">

                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-lg" ng-click="newTrendStatus()">Add</button>
                    <button type="button" class="btn btn-info btn-lg" ng-disabled="!statusItem" ng-click="editTrendStatus()">Edit</button>
                    <button type="button" class="btn btn-info btn-lg" ng-disabled="!statusItem" ng-click="deleteTrendStatus()">Delete</button>

                </div>

            </div>
        </div>
    </div>
</div>
