<head>
    <style type="text/css">
.animate-show,
.animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
    </style>
</head>

<div class="login-container">

    <div class="row">

        <div class="col-sm-6">

            <form role="form" class="login-form fade-in-effect">
                <div class="login-header">
                    <span><h3>Change Password</h3></span>
                </div>
                <div style="margin-bottom: 20px" class="form-group hd">
                    <label style="float:left;font-weight: bold;">Username</label>
                    <input readonly type="text" class="form-control input-dark" ng-model="loginData.username" name="username" id="username" autocomplete="false" ng-keypress="logins(e)" />
                </div>

                <div ng-if="!showOldPassword" style="margin-bottom: 20px" class="form-group has-feedback hd">
                    <label style="float:left;font-weight: bold;">Old Password</label>
                    <input placeholder="" type="password" ng-model="loginData.oldPassword" class="form-control input-dark" name="passwd" id="oldPassword" autocomplete="false" ng-keypress="logins(e)" />
                    <span ng-if="loginData.oldPassword"
                            ng-click="toggleShowOldPassword()"
                            class="fas fa-eye form-control-feedback"
                            style="cursor: pointer; pointer-events: all; padding-top: 5px">
                    </span>
                </div>
                <div ng-if="showOldPassword" style="margin-bottom: 20px" class="form-group has-feedback hd">
                    <label style="float:left;font-weight: bold;">Old Password</label>
                    <input placeholder="" type="text" ng-model="loginData.oldPassword" class="form-control input-dark" name="passwd" id="oldPassword" autocomplete="false" ng-keypress="logins(e)" />
                    <span ng-if="loginData.oldPassword"
                            ng-click="toggleShowOldPassword()"
                            class="fas fa-eye-slash form-control-feedback"
                            style="cursor: pointer; pointer-events: all; padding-top: 5px">
                    </span>
                </div>


                <div ng-if="!showNewPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                    <label style="float:left;font-weight: bold;">New Password</label>
                    <input placeholder="" type="password" ng-model="loginData.newPassword" class="form-control input-dark" name="passwd" id="newPassword" autocomplete="false" ng-keypress="logins(e)" />
                    <span ng-if="loginData.newPassword"
                            ng-click="toggleShowNewPassword()"
                            class="fas fa-eye form-control-feedback"
                            style="cursor: pointer; pointer-events: all; padding-top: 5px">
                    </span>
                </div>
                <div ng-if="showNewPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                    <label style="float:left;font-weight: bold;">New Password</label>
                    <input placeholder="" type="text" ng-model="loginData.newPassword" class="form-control input-dark" name="passwd" id="newPassword" autocomplete="false" ng-keypress="logins(e)" />
                    <span ng-if="loginData.newPassword"
                            ng-click="toggleShowNewPassword()"
                            class="fas fa-eye-slash form-control-feedback"
                            style="cursor: pointer; pointer-events: all; padding-top: 5px">
                    </span>
                </div>


                <div ng-if="!showConfirmNewPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                    <label style="float:left;font-weight: bold;">Confirm New Password</label>
                    <input placeholder="" type="password" ng-model="loginData.newPasswordConfirm" class="form-control input-dark" name="passwd" id="newPasswordConfirm" autocomplete="false" ng-keypress="logins(e)" />
                    <span ng-if="loginData.newPasswordConfirm"
                            ng-click="toggleShowConfirmNewPassword()"
                            class="fas fa-eye form-control-feedback"
                            style="cursor: pointer; pointer-events: all; padding-top: 5px">
                    </span>
                </div>
                <div ng-if="showConfirmNewPassword" style="margin-bottom: 20px" class="form-group has-feedback">
                    <label style="float:left;font-weight: bold;">Confirm New Password</label>
                    <input placeholder="" type="text" ng-model="loginData.newPasswordConfirm" class="form-control input-dark" name="passwd" id="newPasswordConfirm" autocomplete="false" ng-keypress="logins(e)" />
                    <span ng-if="loginData.newPasswordConfirm"
                            ng-click="toggleShowConfirmNewPassword()"
                            class="fas fa-eye-slash form-control-feedback"
                            style="cursor: pointer; pointer-events: all; padding-top: 5px">
                    </span>
                </div>

                <div class="form-group btn-group">
                    <button ng-click="goBack()" class="btn btn-dark   text-left">
                        <i class="fa-angle-double-left"></i>
                        Cancel
                    </button>
                    <button ng-hide="ready" ng-click="reset()" class="btn btn-dark   text-left">
                        <i class="fa-send-o"></i>
                        Change Password
                    </button>
                </div>
            </form>

            <div data-ng-hide="somethingTyped" class="alert alert-danger animate-hide">
                {{message}}
            </div>
        </div>

    </div>

</div>