
<div class="login-container">

    <div class="row">

        <div class="col-sm-6">

            <!-- Errors container -->
            <div class="errors-container">

            </div>

            <!-- Add class "fade-in-effect" for login form effect -->
            <form method="post" role="form" ng-submit="submit()" id="singup" class="login-form fade-in-effect">

                <div class="login-header">
                    <span><h3>Forgot Password</h3></span>
                </div>
                <div class="form-group hd" ng-hide="ready">
                    <label class="control-label" >Username</label>
                    <input type="text" class="form-control input-dark" ng-model="info.userName"  name="FirstName" id="FirstName" autocomplete="off" />
                </div>

                <div class="form-group hd" ng-hide="ready">
                    <label class="control-label" >Email</label>
                    <input type="text" class="form-control input-dark" ng-model="info.email"  name="LastName" id="LastName" autocomplete="off" />
                </div>

                <div class="form-group btn-group">
                    <button ng-click="cancel()" class="btn btn-dark   text-left">
                        <i class="fa-angle-double-left"></i>
                        Cancel
                    </button>
                    <button ng-hide="ready" ng-click="getNewPassword()" class="btn btn-dark   text-left">
                        <i class="fa-send-o"></i>
                        Recover Password
                    </button>
                </div>



            </form>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <!--<div data-ng-hide="message == ''" class="alert alert-success" id="message-box">
                {{message}}
            </div>-->

        </div>

    </div>

</div>

</div>