
<style type="text/css">
    #loading {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(loading_White.gif) no-repeat center center; /*Luan here - making same pathing for IIS deployment, Original: ../../assets/js/select2/loader.gif*/
        z-index: 9999;
    }
</style>
<div id="loading" style="display:none;"></div> <!--Manasi  -->
<div class="login-container">

    <!--<img src="/assets/images/birdi_logo.png">-->
    <img src="birdi_logo.png" />
    <div style="float:right;">   <h1><font size="8">Capital Project Planner </font></h1> </div>

    <div class="row">

        <div class="col-sm-6">
            <!-- Errors container -->
            <div class="errors-container">


            </div>

            <!-- Add class "fade-in-effect" for login form effect -->

            <form method="post" role="form" ng-submit="submit()" id="login" class="login-form fade-in-effect">

                <div class="login-header">
                    <span>Login</span>
                </div>
                <div class="form-group">
                    <!--<label class="control-label" for="username">Username</label>-->
                    <input type="text" class="form-control input-dark" ng-model="loginData.userName" placeholder="Username" name="username" id="username" autocomplete="false" />
                </div>

                <div class="form-group">
                    <!--<label class="control-label"  for="passwd">Password</label>-->
                    <input type="password" ng-model="loginData.password" class="form-control input-dark" placeholder="Password" name="passwd" id="passwd" autocomplete="false" />
                </div>
                <div class="form-group">
                    <div class="btn-group">

                        <button ng-click="login()" class="btn btn-dark   text-left">
                            <i class="fa-lock"></i>
                            Log In
                        </button>
                    </div>
                </div>

                <!--    <button ng-click="register()" class="btn btn-dark  text-left">
                <i class="fa-angle-double-right"></i>
                New User Registration
            </button>
        </div>
    </div>
            -->
                <br />
                <br />
                <div class="login-footer">
                    <a href="" ng-click="recoverPassword()"><span style="color:#fff;">Forgot your password?</span></a>

                    <!--<div class="info-links">
            <a href="">ToS</a> -
            <a href="">Privacy Policy</a>
        </div>-->

                </div>

                <!--<modal-dialog show='modalShown' width='440px'>
                    <div class="modal-header">
                        <h5 class="modal-title">{{modalTitle}}</h5>
                    </div>
                    <div class="modal-body">
                        <div id="draggable" class="loginALert">
                            <div>-->
                                <!--<input type="text" name="licenseKeyTxt" id="licenseKeyTxt" />-->
                                <!--<label class="txt-gray">Enter License Key:</label>
                                <input style="width:100%;color:black; height:46px; text-align: left;" data-ng-model="licenseKeyTxt" class="m-b-10" />
                                <button class="btn btn-info" style="background-color:green" data-ng-click="verifyLicense(licenseKeyTxt)" value="Submit" id="btnSubmit">Submit</button>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="verifyLicense()" focus-me="true">OK</button>
                        <button ng-click="cancel()">Cancel</button>
                    </div>
                </modal-dialog>-->

            </form>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
            <!--- External login
            <div class="external-login">
                <a href="" class="facebook">
                    <i class="fa-facebook"></i>
                    Facebook Login
                </a>

                <!--
                <a href="<?php _hash(); ?>" class="twitter">
                    <i class="fa-twitter"></i>
                    Login with Twitter
                </a>

                <a href="<?php _hash(); ?>" class="gplus">
                    <i class="fa-google-plus"></i>
                    Login with Google Plus
                </a>
                 -->
        </div>

    </div>

</div>
